.DS_Store
.dart_tool/

.packages
.pub/

build/
.flutter-plugins
.flutter-plugins-dependencies

.idea/
*.iml
*.ipr
*.iws

.vscode/

*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

*.class
*.lock
**/doc/api/

**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/gradle/
**/android/key.properties

# Firebase
**/google-services.json
**/GoogleService-Info.plist
lib/firebase_options.dart

# Functions
functions/node_modules/
functions/.env

# Freezed & JSON
*.freezed.dart
*.g.dart
